@import 'src/styles/colors';

.app_header {
  z-index: 1001;
  height: 64px;
  display: flex;
  font-weight: 500;
  font-size: 17px;
  line-height: 16px;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0 2%;

  &__navigation {
    display: flex;
    justify-content: center;
    gap: 2vw;
  }

  &__controls {
    display: flex;
    justify-content: center;
    gap: 2vw;
  }
}
